/*We don't like the margin that Bootstrap uses on page headers by default*/
.page-header {
    margin: 1% 0 1% 0;
}

/*Error container we use*/
.error {
    white-space: pre;
    font-family: "courier new", monospace;
    font-size: 1em;
    color: #000;
    background-color: #ddd;
}

.img-user {
    height: 1.5em;
}

.img-movie-thumbnail {
    padding: 0;
    border: none;
    max-height: 82px;
}

.nw {
    white-space: nowrap;
}

.dual-col {
    -ms-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

/* Movie details */
#det-movieimg {
    display: inline;
    float: right;
}
.data-name {
    font-weight: bold;
}
.data-value {
    font-weight: normal;
}
