{% extends "base.html" %}

{% block title %} About Nutbush Movie Night {% endblock %}
{% block display_title %} What's this all about? {% endblock %}
{% block display_title_sub %} Movie Night Abides {% endblock %}
{% block main_content %}

<div class="row">
<div class="col-md-12">
    <p>Nutbush Movie Night is the brainchild of Marty Priola and
    Adam Remsen, two titans of the Nutbush movie scene.  They
    began the movie night in an effort to have fun and bring
    cinema to the unwashed masses.</p>

    <p>Of course, since they are also part of the Nutbush gourmand
    movement, they had to incorporate a fine meal with a night for
    screening movies.</p>
</div>
</div>

{% endblock %}
