<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="application-name" content="Nutbush Movie Night Web App">
<meta name="keywords" content="movie,food,dinner,nutbush,memphis,awesome">
<meta name="description" content="A web site for a very special weekly occurrence">
<meta name="subject" content="Movies and food">

<title>{% block title %}Nutbush Movie Night{% endblock %}</title>

<link type="text/plain" rel="author" href="{{SITEURL}}/humans.txt" />

<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet">

<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/redmond/jquery-ui.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="/static/nutbush.css" type="text/css">
</head>

<body>

<!-- HEADER/NAVBAR -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{url_for('main.main_page')}}">Nutbush Movie Night</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('main.night_display')}}">Nights</a></li>
                <li><a href="{{url_for('main.movie_display')}}">Movies</a></li>
                <li><a href="{{url_for('main.person_display')}}">People</a></li>
                <li><a href="{{url_for('data.explore_data')}}">Explore</a></li>

                {% if usr.admin %}
                    <li><a href="{{url_for('main.night_display', datestr='add')}}">Add Movie Night</a></li>
                {% endif %}

                {% block extra_menu %}{% endblock %}
            </ul>

            {% if config['GOOGLE_AUTH'] %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if usr.anon %}
                        <a href="{{url_for('auth.login', redir=request.url)}}">Login</a>
                    {% else %}
                        <a href="{{url_for('auth.logout', redir=request.url)}}">Logout {{ usr.type }} {{ usr.name }}</a>
                    {% endif %}
                </li>
                {% if usr.photo %}
                    <li>
                        <a class="logo" href="{{url_for('main.main_page')}}"><img src="{{usr.photo}}" class="img-user" /></a>
                    </li>
                {% endif %}
            </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
</nav>

<!-- MAIN CONTENT -->
<div class="container" style="padding-left:4%;">
    <!-- Header -->
    <div class="row">
        <div class="page-header">
            <h1>
            {% block display_title %} Welcome! {% endblock %}
            <small>{% block display_title_sub %}
                Movie Night Abides.
            {% endblock %}</small>
            </h1>
        </div>
    </div>

    <!-- Messages to flash -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="row">
            <div class="col-md-5">
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-7">&nbsp;</div>
        </div>
        {% endif %}
    {% endwith %}

    <!-- Error message used by our JS -->
    <div class="row"><div class="col-md-12">
        <div class="alert fade in" id="errorFromJS" style="display:none;">
            <button type="button" class="close">×</button>
            <span id="errorFromJSText"></span>
        </div>
    </div></div>

    {% block main_content %}

    <div class="row">
        <div class="col-md-2">
            <h4>Options</h4>
            {% if usr.admin %}
            <p>
                <a href="{{url_for('main.night_display', datestr='add')}}">Add Movie Night</a>
            </p>
            {% endif %}

            <p><a href="{{url_for('main.night_display')}}">All Nights</a></p>
            <p><a href="{{url_for('main.movie_display')}}">All Movies</a></p>
            <p><a href="{{url_for('main.person_display')}}">All People</a></p>

            <hr/>

            <p><a href="{{url_for('data.explore_data')}}">Explore</a></p>
            <p><a href="{{url_for('lawyer.about')}}">About</a></p>
            <p><a href="{{url_for('lawyer.faq')}}">FAQ</a></p>

            {% if config['GOOGLE_AUTH'] %}
                <hr/>
                <p>
                {% if usr.anon %}
                    <a href="{{url_for('auth.login', redir=request.url)}}">Login</a>
                {% else %}
                    <a href="{{url_for('auth.logout', redir=request.url)}}">Logout {{ usr.type }} {{ usr.name }}</a>
                {% endif %}
            {% endif %}
            </p>
        </div>

        <div class="col-md-offset-1 col-md-9">
            <h4>Recent Movie Nights</h4>

            <div class="row">
                {% for mn in movienights %}
                    <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="{{url_for('main.night_display', datestr=mn.datestr)}}">
                                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                                    {{mn.listdate}}
                                </a>

                                {% if usr.admin %}
                                <span class="btn-group pull-right">
                                    <a href="{{url_for('main.night_display', datestr=mn.datestr, mode='edit')}}" class="btn btn-sm btn-default">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        Edit
                                    </a>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-body">
                            <a href="{{url_for('main.movie_display', moviekey=mn.imdbid)}}" class="movie-auto-click" data-imdbid="{{mn.imdbid}}">
                                <img src="{{mn.thumb}}" class="img-responsive img-thumbnail img-movie-thumbnail pull-left" style="margin-right:1rem;">
                            </a>

                            <a href="{{url_for('main.movie_display', moviekey=mn.imdbid)}}" class="movie-auto-click" data-imdbid="{{mn.imdbid}}">
                                {{mn.moviename}}
                            </a>
                            <br>
                            Dinner:
                            <a href="{{url_for('main.night_display', datestr=mn.datestr)}}">
                                {{mn.dinner}}
                            </a>
                        </div>
                    </div>
                    </div>
                    {% if loop.index % 2 == 0 %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}
</div> <!-- /container -->


<!-- FOOTER -->
<div class="container" style="margin-top: 1in;">
    <div class="row">
        <div class="col-md-10">
            <div class="pull-left" style="padding-right: 1%;">
                <img src="/static/logo.png" alt="NBMN logo"
                     class="img-responsive img-circle"
                     width="32" height="32" style="vertical-align:center;"
                >
            </div>
            <div class="text-success" style="font-size: 150%;">
                KEEP ON EATIN
                {% if usr.admin %} BITCHES {% endif %}
            </div>
            <div class="text-warning" style="font-size: 70%;">
                Gourmands and Movies -- brought to you by the Hub of Western Civilization
                &nbsp;&nbsp;&nbsp;
                <a href="{{url_for('lawyer.tos')}}">Terms of Service</a>
                &sect;
                <a href="{{url_for('lawyer.about')}}">About</a>
                &sect;
                <a href="{{url_for('lawyer.faq')}}">FAQ</a>
            </div>
            <div class="text-success" style="font-size: 65%;">
                Copyright (c) {{g.year}} - but we'll share if you ask nicely.
                <p>Be sure to ask Marty about going vegan.</p>
            </div>
        </div>
    </div>
</div>

<!-- Movie dialog that any page can display -->
<div class="dialog" id="movie-dialog" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="moviedlg-details-container">
            </div>
            <div class="col-md-4">
                <img id="moviedlg-movieimg" src="" class="img-responsive img-thumbnail"/>
            </div>
        </div>
    </div>
</div>

<!-- JAVASCRIPT RESOURCES -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Note that above we need to load jQuery before bootstrap, but THEN we load jquery UI and other stuff later -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script> -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="/static/nutbush.js"></script>

<script type="text/javascript">
    // Available to everyone that needs to show an error
    showJSError = function(err) {
        $("#errorFromJSText").html(err);
        $("#errorFromJS").show();
        alert(err);
    };

    // Available to everyone that wants to display a movie
    show_movie = function(imdbid) {
        // Clean up any previous dialog stuff
        $('#movie-dialog').dialog("close");
        $("#moviedlg-details-container").empty();
        $("#moviedlg-movieimg").attr("src", "");

        // Make query
        data.movie_by_imdb(imdbid, function(all_data, textStatus) {
            if (all_data.error) {
                showJSError(all_data.error);
                return;
            }

            var movie_data = all_data.omdb;

            function addOne(title, target) {
                if (!target) {
                    target = "#moviedlg-details-container";
                }

                var disp = _.prop(movie_data, title);
                if (_.isArray(disp)) {
                    disp = _.join(disp, ',');
                }

                var newEle = $('<div class="row"></div>');
                newEle.append(
                    $('<div class="col-md-1 data-name"></div>').text(title)
                );
                newEle.append(
                    $('<div class="col-md-offset-1 col-md-10 data-value"></div>').text(disp)
                );

                $(target).append(newEle);
                return newEle;
            }

            img = _.prop(movie_data, "Poster");
            if (!!img) {
                $("#moviedlg-movieimg").attr("src", img);
            }

            addOne('Director');
            addOne('Writer');
            addOne('Actors');
            addOne('Production');
            addOne('Country');
            addOne('Language');
            addOne('Runtime');
            addOne('Genre');
            addOne('Year');
            addOne('Released');
            addOne('DVD');
            addOne('Awards');
            addOne('Rated');
            addOne('Metascore');
            addOne("Plot");
            addOne("BoxOffice");

            $("#moviedlg-details-container").append(
                $('<div class="row"><div class="col-md-offset-1 col-md-8"><a id="movie-detail-link">Go to Movie Detail Page</a></div></div>')
            );
            $("#movie-detail-link").attr("href", "/movie/" + imdbid)

            $("#movie-dialog").dialog({
                'modal': true,
                'height': 'auto',
                'width': 'auto',
                //'closeText': 'X',
                'title': _.prop(movie_data, "Title")
            }).dialog("open");
        });
    };

    // Fired once page is done loading
    $(function(){
        // Set up dropdowns
        $('.dropdown-toggle').dropdown();

        // Set up dialog
        $("#movie-dialog").dialog({autoOpen: false});

        // Provide a class-based way for buttons to show movies
        $('.movie-auto-click').click(function(evt){
            evt.preventDefault()
            var imdbid = $(this).data('imdbid');
            if (!imdbid) {
                console.log("No imdb to display!", imdbid);
                return;
            }

            console.log("Displaying movie", imdbid);
            show_movie(imdbid);
        });
    });
</script>

{% block extra_js %}
{% endblock %}

</body>
</html>
