{% extends "base.html" %}

{% block title %} FAQs About Nutbush Movie Night {% endblock %}
{% block display_title %}I Have Questions!{% endblock %}
{% block display_title_sub %} We have smart-ass answers {% endblock %}
{% block main_content %}

<div class="row">
<div class="col-md-12">
    <dl>
        <dt>Q1. Can I come?</dt>
        <dd>Ask an oligarch.</dd>

        <dt>Q2. When do you meet?</dt>
        <dd>See question one.</dd>

        <dt>Q3. What is your emergency plan?</dt>
        <dd>Keep on Eatin.</dd>
    </dl>
</div>
</div>

{% endblock %}
