{% extends "base.html" %}

{% block title %}Nutbush Movie {{ movie_name }} {% endblock %}
{% block display_title %} Movie  {% endblock %}
{% block display_title_sub %}
    {{ movie_name }}
{% endblock %}

{% block main_content %}
    {% if movie %}
        {% if movie.imdbid %}
        <div class="row">
            <div class="col-md-12">
                <div class="info" id="movie_query_progress" name="movie_query_progress"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8" id="movie-details-container">
            </div>
            <div class="col-md-4">
                <img id="det-movieimg" src="" alt="{{movie.name}}" class="img-responsive img-thumbnail"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <button class="btn btm-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapsed-data" aria-expanded="false" aria-controls="collapsed-data">
                <span class="glyphicon glyphicon-plus"></span> Extra Fields
                </button>
                <div class="collapse" id="collapsed-data">
                    <div class="well" id="movie-extra-container">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    {% else %}
        <div class="row">
        <div class="col-md-12">

        <table class="datatable SortableTable" id="allmovies" name="allmovies">
        <thead>
            <tr><th>Movie</th></tr>
        </thead>
        <tbody>
        {% for mov in movies %}
            <tr>
                <td><a class="movie-auto-click" data-imdbid="{{mov.imdbid}}" href="{{url_for('main.movie_display', moviekey=mov.imdbid)}}">{{mov.name}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

        </div>
        </div>

    {% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$('#allmovies').dataTable({
    "bPaginate": false,
    responsive: true
});

{% if movie and movie.imdbid %}

var imdbid = "{{movie.imdbid}}";
data.movie_by_imdb(imdbid, function(all_data, textStatus) {
    if (all_data.error) {
        showJSError(all_data.error);  // defined for us in base.html
        return;
    }

    console.log(all_data);
    var movie_data = all_data.omdb;

    function addOne(title, target) {
        if (!target) {
            target = "#movie-details-container";
        }

        var disp = _.prop(movie_data, title);
        if (_.isArray(disp)) {
            disp = _.join(disp, ',');
        }

        var newEle = $('<div class="row"></div>');
        newEle.append(
            $('<div class="col-md-1 data-name"></div>').text(title)
        );
        newEle.append(
            $('<div class="col-md-offset-1 col-md-10 data-value"></div>').text(disp)
        );

        $(target).append(newEle);
        return newEle;
    }

    img = _.prop(movie_data, "Poster");
    if (!!img) {
        $("#det-movieimg").attr("src", img);
    }

    addOne('Director');
    addOne('Writer');
    addOne('Actors');
    addOne('Production');
    addOne('Country');
    addOne('Language');
    addOne('Runtime');
    addOne('Genre');
    addOne('Year');
    addOne('Released');
    addOne('DVD');
    addOne('Awards');
    addOne('Rated');
    addOne('Metascore');
    addOne("Plot");
    addOne("BoxOffice");

    addOne('imdbRating', '#movie-extra-container');
    addOne('imdbVotes', '#movie-extra-container');
    addOne('tomatoConsensus', '#movie-extra-container');
    addOne('tomatoFresh', '#movie-extra-container');
    addOne('tomatoImage', '#movie-extra-container');
    addOne('tomatoMeter', '#movie-extra-container');
    addOne('tomatoRating', '#movie-extra-container');
    addOne('tomatoReviews', '#movie-extra-container');
    addOne('tomatoRotten', '#movie-extra-container');
    addOne('tomatoURL', '#movie-extra-container');
    addOne('tomatoUserMeter', '#movie-extra-container');
    addOne('tomatoUserRating', '#movie-extra-container');
    addOne('tomatoUserReviews', '#movie-extra-container');
    addOne('Poster', '#movie-extra-container');
});
{% endif %}
</script>
{% endblock %}
